<!-- Container-fluid starts-->
<div class="container-fluid">
  <div class="card">
    <div class="card-header">
      <h5>User Details</h5>
    </div>
    <div class="card-body">
      <div
        *ngIf="authService.currentUser?.createUser === 1"
        class="btn-popup pull-right"
      >
        <a class="btn btn-primary" (click)="openPasswordModal(passwordModal, 0, true)"
          >Create User</a
        >
      </div>
      <div
        id="batchDelete"
        class="category-table custom-datatable transcation-datatable user-image"
      >
        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">SL</th>
                <th
                  *ngIf="authService.currentUser?.createUser === 1"
                  scope="col"
                >
                  Actions
                </th>
                <!-- <th scope="col" sortable="avatar" (sort)="onSort($event)">Avtar</th> -->
                <!-- <th scope="col" sortable="fName" (sort)="onSort($event)">First Name</th>
                                <th scope="col" sortable="lName" (sort)="onSort($event)">Last Name</th> -->
                <th scope="col" sortable="lName">Name</th>
                <th scope="col" sortable="email">Email</th>
                <!-- <th scope="col" sortable="last_login" (sort)="onSort($event)">Last Login</th> -->
                <!-- <th scope="col" sortable="role" (sort)="onSort($event)">Role</th> -->
              </tr>
            </thead>
            <tbody>
              <!-- <tr *ngFor="let item of tableItem$ | async ">
                                <td>
                                    <a href="javascript:void(0)"><i class='fa fa-edit f-12'></i></a>&nbsp;
                                    <a href="javascript:void(0)"><i class="fa fa-trash-o"></i></a>
                                </td>
                                <td scope="row">
                                    <img [src]="item.avatar" class="imgTable" style="width: 20px">
                                </td>
                                <td>
                                    {{item.fName}}
                                </td>
                                <td>{{item.lName}}</td>
                                <td>{{item.email}}</td>
                                <td>{{item.last_login}}</td>
                                <td>{{item.role}}</td>
                            </tr> -->
              <tr *ngFor="let user of user_list; index as i">
                <td>{{ i }}</td>
                <td *ngIf="authService.currentUser?.createUser === 1">
                  <!-- <a [routerLink]="['/users/edit-user', user.id]"><i
                                            class='fa fa-edit f-12'></i></a>&nbsp;
                                    <a (click)="onClickDelete(user.id)"><i class="fa fa-trash-o"></i></a> -->
                  <button
                    class="btn btn-warning m-1"
                    [routerLink]="['/users/edit-user', user.id]"
                  >
                    Edit
                  </button>

                  <button
                    *ngIf="
                      authService.currentUser &&
                      authService.currentUser?.email != user.email
                    "
                    class="btn btn-primary m-1"
                    (click)="openPasswordModal(passwordModal, user.id)"
                  >
                    Delete
                  </button>
                </td>
                <td>{{ user.name }}</td>
                <td>{{ user.email }}</td>
              </tr>
            </tbody>
          </table>
          <!-- <div class="d-flex justify-content-center p-2">
                        <ngb-pagination
                          [collectionSize]="(total$ | async)!" [(page)]="service.page" [pageSize]="service.pageSize">
                        </ngb-pagination>
                    </div> -->
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Container-fluid Ends-->


<!-- Password Modal -->
 <ng-template #passwordModal let-modal>
	<div class="modal-header">
		<h4 class="modal-title" id="modal-basic-title">Enter your password to continue</h4>
		<button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss()"></button>
	</div>
	<div class="modal-body">
		<form>
			<div class="mb-3">
				<label for="inp-ver-password">Password</label>
				<div class="input-group">
					<input
                        #inp_vp
						id="inp-ver-password"
						class="form-control"
                        placeholder="Your Password"
                        type="password"
					/>
				</div>
			</div>
		</form>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-primary" (click)="modal.close(inp_vp.value)">Proceed</button>
	</div>
</ng-template>